.settingsPage {
    @apply pt-10 h-screen;
}
.settingsPage_content {
    @apply flex flex-col items-center;
}

.settingsPage_imgWrapper_img {
    display: block;
    overflow: hidden;
    width: 120px;
    height: 120px;
}
.settingsPage_imgWrapper_img img {
    @apply rounded-full object-cover w-full h-full;
}
.settingsPage_fileInput {
    @apply hidden;
}
.settingsPage_inlineWrapper {
    @apply w-full bg-white shadow-cyan-500/50 rounded-lg p-4 mt-7;
}
.settingsPage_inlineWrapper > *:not(:last-child) {
    @apply mb-4;
}

:global(.dark) .settingsPage {
    @apply bg-slate-800;
    @apply text-slate-300;
}
:global(.dark) .settingsPage_inlineWrapper {
    @apply border border-2 border-slate-300;
    @apply bg-slate-800;
    @apply text-slate-300;
}
@screen md {
    .settingsPage_inlineWrapper {
        @apply w-fit;
    }
}
